.section {
	background-color: #312F30;
	padding: 70px 13%;
	display: flex;
	align-items: center;
	gap: 100px;
}

h2 {
	font-size: 43px;
}

.text {
	font-size: 16px;
	color: #929191;
}

.orange {
	font-size: 22px;
	color: #F6762C;
}

span {
	font-size: 16px;
	color: #f6762c7d;
}

.right {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: start;
}